.navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: white;
    transition: left 0.2s ease;
}
body.show-mobile-menu header {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgb(0, 0, 0, 0.2);
}
body.show-mobile-menu .navbar .nav-menu {
    left: 0;
}
.navbar .nav-menu .nav-link {
    color: black;
    display: block;
    margin-top: 17px;
    font-size: 20px;
}

.navbar #menu-close-button,
.navbar #menu-open-button {
    display: block;
    font-size: 20px;
}
.navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
}
.navbar #menu-open-button {
    color: white;
}

.hero-section .hero-details {
    justify-content: center;
}
.hero-section .hero-details :is(.subtitle, .description), .about-section .about-details {
    width: 100%;
    font-size: 18px;
}
.hero-section .hero-details .buttons {
    justify-content: center;
}

/*about section*/
.about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
}
.about-section .about-image-wrapper .about-image {
    width: 100%;
    height:100%;
    max-width: 250px;
    aspect-ratio: 1;
}

/*menu section*/
.menu-section .menu-list {
    gap: 30px;
}
.menu-section .menu-list .menu-item {
    width:calc(100% / 2 - 60px);
}
.menu-section .menu-list .menu-item .menu-image {
    width: 300px;
}

/* gallery section */
.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 2 - 30px);
}
.gallery-section .gallery-list {
    gap: 30px;
}

/* contact section */
.contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
}
.contact-section .contact-form {
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .menu-section .menu-list {
        gap: 60px;
    }
    .menu-section .menu-list .menu-item,
    .gallery-section .gallery-list .gallery-item {
        width:100%;
    }
    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}